// 主題顏色
$color-primary: #42b883; // Vue 綠
$color-secondary: #35495e; // Vue 藍

// 字體
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-large: 24px;

// 邊界/間距
$spacing-medium: 16px;

