// 主題顏色
$color-fsBlue: #00529F; // Blue
$color-fsGold: #FF9010; // Gold
$color-fsGreen: #4F7A26; // Green
$color-fsRed: #CC202B; // Red
$color-fsTitle: #041426; // Blue950
$color-fsContent: #5D5D5D; // Black600
$color-fsCaption: #B0B0B0; // Black300
$color-fsWhite: #FFFFFF; // 
$color-fsBlue50: #F0F7FF; // Blue50
$color-fsPopup: #F6F6F6; // Black50
$color-fsGold50: #FFFBEA; // Gold50
$color-fsGold700: #BB4702; // Gold700
$color-fsBlue900: #0A3D70; // Blue900











