@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Ubuntu','Roboto', 'Noto Sans TC', sans-serif; 
}

.dp-flex{
  display: flex;
}



// 字級





// icon
// 左箭頭
// 右箭頭
// 置頂箭頭