@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


//基本設定

html {
  font-family: 'Ubuntu', 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 62.5%;
  /* 預設字級調整為10px */
  letter-spacing: 0.05em;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



// -----------------------------------
// 字級

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 160%;
}

h1 {
  font-size: 6.0rem;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 4.0rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
}

h6 {
  font-size: 2.0rem;
}

p {
  font-size: 1.6rem;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  text-align: justify;
  line-height: 180%;
}


//字體粗細，預設 normal 400 ，不用特別設定
//其他粗細請直接加下方class

// Light
.fw200 {
  font-weight: 200;
}

// Medium
.fw600 {
  font-weight: 600;
}





// -----------------------------------
//排版用class

.dp-flex {
  display: flex;
  flex-direction: row;
}

.dp-flex-col {
  display: flex;
  flex-direction: column;
}

.dp-none {
  display: none;
}

// -----------------------------------
//其他預設class

//毛玻璃背景

.bg-frostedGlass{
  box-shadow: 
      inset 0 2px 6px rgba(255,255,255,0.05),
      0 0px 10px rgba(0,0,0,0.5);
  backdrop-filter: blur(70px);  
  border-radius: 10px;    
}

//輸入框 
.input-text{
  height: 44px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid $color-fsCaption;
  padding: 4px 12px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  color: $color-fsTitle;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  line-height: 160%;
}

.input-text::placeholder{
  font-size: 1.6rem;
}

.input-text:focus{
  //預設的藍色改品牌色
  outline-color: $color-fsGold;
  //增加外陰影
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9) ;
}


// -----------------------------------

// icon

// 左箭頭
// <font-awesome-icon icon="fa-solid fa-angle-left" />
// 右箭頭
// <font-awesome-icon icon="fa-solid fa-angle-right" />
// 置頂箭頭
// <font-awesome-icon icon="fa-solid fa-angles-up" />
// 遊戲右箭頭
// <font-awesome-icon icon="fa-solid fa-arrow-right" />
// 遊戲左箭頭
// <font-awesome-icon icon="fa-solid fa-arrow-left" />
// 童玩
// <font-awesome-icon icon="fa-solid fa-gamepad" />
// 體驗卷
// <font-awesome-icon icon="fa-solid fa-ticket" />
// 客製化 
// <font-awesome-icon icon="fa-solid fa-box-open" />
// 飾品
// <font-awesome-icon icon="fa-solid fa-ring" />
// 加入購物車
// <font-awesome-icon icon="fa-solid fa-cart-plus" />
// 購物車
//<font-awesome-icon icon="fa-solid fa-cart-shopping" />
// 收藏
// <font-awesome-icon icon="fa-regular fa-heart" />
// <font-awesome-icon icon="fa-solid fa-heart" />
// 訂單確認
// <font-awesome-icon icon="fa-solid fa-check-double" />

// 會員-未登入
// <font-awesome-icon icon="fa-regular fa-circle-user" />
// 會員-已登入
// <font-awesome-icon icon="fa-solid fa-circle-user" />
// 購物袋
// <font-awesome-icon icon="fa-solid fa-bag-shopping" />

// 搜尋
// <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
// 刪除-垃圾桶
// <font-awesome-icon icon="fa-regular fa-trash-can" />
// 下拉箭頭  
// <font-awesome-icon icon="fa-solid fa-angle-down" />
// 刪除-叉叉
// <font-awesome-icon icon="fa-solid fa-xmark" />

// +
// <font-awesome-icon icon="fa-solid fa-square-plus" />
// <font-awesome-icon icon="fa-regular fa-square-plus" />

// -
// <font-awesome-icon icon="fa-solid fa-square-minus" />
// <font-awesome-icon icon="fa-regular fa-square-minus" />

// FB
// <font-awesome-icon icon="fa-brands fa-square-facebook" />

// IG
// <font-awesome-icon icon="fa-brands fa-instagram" />

// VISA
// <font-awesome-icon icon="fa-brands fa-cc-visa" />
// MASTER
//<font-awesome-icon icon="fa-brands fa-cc-mastercard" />
// JCB
// <font-awesome-icon icon="fa-brands fa-cc-jcb" />